In [1]:
#  IMPORTS

import pandas as pd
from metrics.energy_estimation import MetricsEE
from metrics.event_detection import MetricsED
from metrics.hybrid_metrics import HybridMetrics

In [5]:
# Load files for GT and Pred values

ee_gt = pd.read_csv('test_data/kettle_gt.csv', index_col='Time', parse_dates=True)
ee_pred = pd.read_csv('test_data/kettle_pred.csv', index_col='Time', parse_dates=True)

ee_pred = ee_pred[['Appliance_Q.25',
                   'Appliance_Q.50',
                   'Appliance_Q.75']]

In [3]:
# Check the metrics using the check_metrics from the MetricsEE class
# This function will check for the columns present in both GT and Pred frames
# And will return metric values for each of those columns

metrics_ee = MetricsEE()
ee_hourly_metrics = metrics_ee.check_metrics(ee_gt, ee_pred,
                                             metric_list=['rmse', 'cep'],
                                             interval='Hour',
                                             start_date='2015-05-01',
                                             end_date='2015-05-04')

In [4]:
ee_hourly_metrics['Appliance_Q.50'].head(10)

,rmse,cep_c,cep_co,cep_cu,cep_o,cep_ozero,cep_u,cep_total
2015-05-01 00:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 01:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 02:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 03:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 04:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 05:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 06:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 07:00:00,277.551096,2705,114,36629.0,5812.0,0.0,9267.0,48715
2015-05-01 08:00:00,0.000000,0,0,0.0,0.0,0.0,0.0,0
2015-05-01 09:00:00,284.797452,0,10874,42834.0,8074.0,2712.0,3765.0,57473

In [5]:
# Directly calling the methods from the MetricsEE class

rmse = metrics_ee.cmd_rmse(ee_gt['Appliance_Q.50'],
                           ee_pred['Appliance_Q.50'])

print(rmse)

122.41260585180177

In [4]:
# The MetricsED focuses on the Event Detection metrics
# Works the same way, with a check_metrics method available
# Set up the test variables - turn the previous Dataframes into binary variables

ed_gt = (ee_gt > 0).astype(int)
ed_pred = (ee_pred > 0).astype(int)

In [ ]:
metrics_ed = MetricsED()
ed_hourly_metrics = metrics_ed.check_metrics(ed_gt, ed_pred,
                                             metric_list=['conf_mat', 'precision', 'recall',
                                                          'fscore', 'mcc', 'smcc', 'dps_pr'],
                                             interval='Hour',
                                             start_date='2015-05-01 00:00:00',
                                             end_date='2015-05-01 12:00:00')

In [23]:
ed_hourly_metrics['Appliance_Q.95'] #.head(10)

,dps_pr,fscore,mcc,precision,recall,smcc,tp,tn,fp,fn
2015-05-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 01:00:00,NaN,NaN,NaN,0.000000,NaN,NaN,0,448,2,0
2015-05-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,0,450,0,0
2015-05-01 06:00:00,NaN,NaN,NaN,0.000000,NaN,NaN,0,449,1,0
2015-05-01 07:00:00,0.043403,0.883721,0.884580,1.000000,0.791667,0.942290,19,426,0,5
2015-05-01 08:00:00,NaN,NaN,NaN,0.000000,NaN,NaN,0,447,3,0
2015-05-01 09:00:00,0.028348,0.884615,0.878283,0.851852,0.920000,0.939141,23,421,4,2
2015-05-01 10:00:00,NaN,NaN,NaN,0.000000,NaN,NaN,0,449,1,0
2015-05-01 11:00:00,NaN,NaN,NaN,0.000000,NaN,NaN,0,444,6,0

In [28]:
ed_minute_metrics = metrics_ed.check_metrics(ed_gt, ed_pred,
                                             metric_list=['conf_mat', 'precision', 'recall',
                                                          'fscore', 'mcc', 'smcc', 'dps_pr', 'npv'],
                                             interval='Min',
                                             start_date='2015-05-01 00:00:00',
                                             end_date='2015-05-01 12:00:00')

In [30]:
ed_minute_metrics['Appliance_Q.95']['2015-05-01 07']

,dps_pr,fscore,mcc,npv,precision,recall,smcc,tp,tn,fp,fn
2015-05-01 07:00:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:01:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:02:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:03:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:04:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:05:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:06:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:07:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:08:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:09:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:10:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:11:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:12:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:13:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:14:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:15:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:16:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:17:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:18:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:19:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:20:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:21:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:22:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:23:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:24:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:25:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:26:00,0.027778,0.909091,0.745356,0.666667,1.0,0.833333,0.872678,5,2,0,1
2015-05-01 07:27:00,0.000000,1.000000,NaN,NaN,1.0,1.000000,NaN,7,0,0,0
2015-05-01 07:28:00,0.111111,0.800000,0.577350,0.500000,1.0,0.666667,0.788675,4,2,0,2
2015-05-01 07:29:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:30:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:31:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:32:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:33:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:34:00,0.160000,0.750000,0.600000,0.600000,1.0,0.600000,0.800000,3,3,0,2
2015-05-01 07:35:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:36:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:37:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:38:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:39:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:40:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:41:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:42:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:43:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:44:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:45:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:46:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:47:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:48:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:49:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:50:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:51:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:52:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:53:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:54:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:55:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:56:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:57:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0
2015-05-01 07:58:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,8,0,0
2015-05-01 07:59:00,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,0,7,0,0

In [6]:
hybrid_metrics = HybridMetrics(threshold=0.1)
hybrid_day_metrics = hybrid_metrics.check_metrics(ee_gt, ee_pred,
                                                  metric_list=['conf_mat',
                                                               'precision',
                                                               'recall',
                                                               'fscore'],
                                                  interval='Day',
                                                  start_date='2015-05-01',
                                                  end_date='2015-05-07')

In [7]:
hybrid_day_metrics['Appliance_Q.50']

              fscore  precision    recall  atp  itp     tn  fp  fn
2015-05-01  0.578947   0.559322  0.600000   66   33  10671  19  11
2015-05-02  0.243421   0.205556  0.298387   37   59  10592  84  28
2015-05-03  0.457014   0.471963  0.442982  101   87  10546  26  40
2015-05-04  0.847059   0.900000  0.800000   36    4  10755   0   5
2015-05-05       NaN        NaN       NaN    0    0  10800   0   0
2015-05-06       NaN        NaN       NaN    0    0  10800   0   0